.menu-component-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px;
}

.page-nav {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
  list-style: none;
}

.nav-item {
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .page-nav {
    width: 50%;
    justify-content: space-evenly;
  }
}