.about-page-wrapper {
  background: #E3DFDB;  /* fallback for old browsers */
}

.section-header {
  border-bottom: 3px solid black;
  padding-bottom: 8px;
  width: 60%;
}

.page-title {
  text-align: center;
  margin-bottom: 0;
}

.content-wrapper {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  height: auto;
}

.large-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 9%;
}

.summary-paragraph {
  font-size: 0.9rem;
}

.facts-list {
  margin-left: 1rem;
}

.facts-item {
  font-size: 0.9rem;
}